
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="codPedido">
      <th mat-header-cell *matHeaderCellDef> Codigo de pedido </th>
      <td mat-cell *matCellDef="let element"> {{element.codPedido}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="codCliente">
      <th mat-header-cell *matHeaderCellDef> Codigo de cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.codCliente}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fechaPedido">
      <th mat-header-cell *matHeaderCellDef> Fecha de pedido </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaPedido}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef> Prioridad </th>
      <td mat-cell *matCellDef="let element"> {{element.prioridad}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button  (click) = verDetalle(element.codPedido)> <mat-icon>details</mat-icon></button>
        <button mat-icon-button > <mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

<table style="width:100%">
    <tr>
      <th>Codigo Pedido</th>
      <th>Codigo Cliente</th>
      <th>Fecha Pedido</th>
      <th>Prioridad</th>
    </tr>

    
    <tr *ngIf = "modoActualizar" >
        <td><input type="number" [value] = "pedidoAActualizar.codPedido" disabled ></td>
        <td><input type="number" [(ngModel)] = "pedidoAActualizar.codCliente" name = "codCliente" ></td>
        <td><input type="text" [(ngModel)] = "pedidoAActualizar.fechaPedido" name = "fechaPedido"></td>
        <td><input type="text"  [(ngModel)] = "pedidoAActualizar.prioridad" name = "prioridad"></td>
        <td><button (click) = "guardarPedido()" >Guardar</button></td>
    </tr>


    <tr *ngFor = "let pedido of pedidos">
        <td>{{pedido.codPedido}}</td>
        <td>{{pedido.codCliente}}</td>
        <td>{{pedido.fechaPedido}}</td>
        <td>{{pedido.prioridad}}</td>
        <td> <button (click) = mostrarPedidoAActualizar(pedido) > Actualizar</button></td>
    </tr>


    <tr *ngIf = "!modoActualizar" >
        <td><input type="text" disabled></td>
        <td><input type="number" [(ngModel)] = "pedidoNuevo.codCliente" name = "codCliente" ></td>
        <td><input type="text" [(ngModel)] = "pedidoNuevo.fechaPedido" name = "fechaPedido"></td>
        <td><input type="text"  [(ngModel)] = "pedidoNuevo.prioridad" name = "prioridad"></td>
        <td><button (click) = "agregarPedido()" >Agregar</button></td>
    </tr>


    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
</table>

