<div class="container">

    <div mat-dialog-actions>
        <button mat-stroked-button color="primary" type="submit" (click)="onConfirmar()"
            [disabled]="!(saveForm.form.valid && passwordIguales)"> Confirmar</button>
        <button class="btn-salir" mat-stroked-button color="warn" type="button" (click)="onSalir()">Salir</button>
    </div>

    <div class="margin-top">
        <form id="saveForm" #saveForm="ngForm">
            <mat-form-field appearance="outline" class="full-mat-form-field">
                <mat-label>Contraseña Actual</mat-label>
                <input matInput [type]="currentPasswordHidden ? 'password' : 'text'" #current [minlength]="minLength"
                    [(ngModel)]="currentPassword" name="currentPassword" required>
                <mat-hint align="end">{{current.value.length}} / {{minLength}}</mat-hint>
                <button mat-icon-button matSuffix (click)="currentPasswordHidden = !currentPasswordHidden">
                    <mat-icon>{{currentPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-mat-form-field">
                <mat-label>Nueva Contraseña </mat-label>
                <input matInput [type]="passwordHidden ? 'password' : 'text'" #new [minlength]="minLength"
                    [(ngModel)]="password" name="password" (keyup)="verificarPasswordIguales()" required>
                <mat-hint align="end">{{new.value.length}} / {{minLength}}</mat-hint>
                <button mat-icon-button matSuffix (click)="passwordHidden = !passwordHidden">
                    <mat-icon>{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-mat-form-field">
                <mat-label>Confirmar Contraseña </mat-label>
                <input matInput [type]="confirmPasswordHidden ? 'password' : 'text'" #confirm [minlength]="minLength"
                    [(ngModel)]="confirmPassword" name="confirmPassword" (keyup)="verificarPasswordIguales()" required>
                <mat-hint align="end">{{confirm.value.length}} / {{minLength}}</mat-hint>
                <mat-hint align="start" *ngIf="!passwordIguales" class="validate-password">La contraseña no coincide
                </mat-hint>
                <button mat-icon-button matSuffix (click)="confirmPasswordHidden = !confirmPasswordHidden">
                    <mat-icon>{{confirmPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

        </form>
    </div>

</div>