<mat-card class="lista-productos-card">
  <mat-card class="card-productos">
    <mat-card-title>Lista de Productos</mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let producto of productos" class="card-producto">
        
        <img mat-card-image [src]="producto.imagen">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
        <mat-card-content>
          {{producto.descripcion}}
        </mat-card-content>
        <mat-card-subtitle>S/.{{producto.precio}}.00</mat-card-subtitle>
        <mat-card-actions class="btn-ver">
          <button mat-stroked-button color="primary" (click)="verProducto(producto.id)">Ver</button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</mat-card>