<div class="example-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h1 class="example-app-name">Mi Bodega  </h1>
            <span class="espaciar"></span>


            <div *ngIf="usuario.rol=='admin'">
                <button class="menu-button" mat-button [matMenuTriggerFor]="usuarioMenu">Usuario</button>
                <mat-menu #usuarioMenu="matMenu">
                    <button mat-menu-item routerLink="/../../../usuarios/adm">Listar usuarios</button>
                    <button mat-menu-item routerLink="/../../../usuarios/save">Registrar usuario</button>

                </mat-menu>

            </div>
            <button class="menu-button" mat-button [matMenuTriggerFor]="productoMenu">Productos</button>
            <mat-menu #productoMenu="matMenu">
                <div *ngIf="usuario.rol=='admin'">
                    <button mat-menu-item routerLink="/../../../productos/adm">Listar productos</button>
                </div>
                <button mat-menu-item [matMenuTriggerFor]="categorias">Categorias</button>
            </mat-menu>

            <div *ngIf="usuario.rol!='invitado'">
                <button class="menu-button" mat-button [matMenuTriggerFor]="boletaMenu">Boleta</button>
                <mat-menu #boletaMenu="matMenu">
                    <button mat-menu-item routerLink="/../../../boletas/adm">Listar boletas</button>
                    <button mat-menu-item routerLink="/../../../boletas/save">Registrar boleta</button>
                </mat-menu>
            </div>


            <div *ngIf="usuario.rol=='invitado'">
                <button class="menu-button" (click)="logout()" mat-button>Comprar Productos</button>
            </div>

            <mat-menu #categorias="matMenu">
                <button mat-menu-item (click)="redirectCategory('whisky')">Wiskhy</button>
                <button mat-menu-item (click)="redirectCategory('ron')">Ron</button>
                <button mat-menu-item (click)="redirectCategory('cerveza')">Cerveza</button>
                <button mat-menu-item (click)="redirectCategory('vino')">Vino</button>
                <button mat-menu-item (click)="redirectCategory('vodka')">Vodka</button>
                <button mat-menu-item (click)="redirectCategory('tequila')">Tequila</button>
                <button mat-menu-item (click)="redirectCategory('piqueos')">Piqueos</button>
                <button mat-menu-item (click)="redirectCategory('otros')">Otros</button>
            </mat-menu>

            <div *ngIf="usuario.rol=='admin'">
                <button class="menu-button" mat-button routerLink="/../../../tableros/adm">Estadistica</button>
            </div>
            <button class="options-btn" color="white" mat-icon-button [matMenuTriggerFor]="options">
                <mat-icon matTooltip="Opciones">more_vert</mat-icon>
            </button>
            <mat-menu #options="matMenu">
                <button mat-menu-item (click)="opcionPerfil()">
                    <mat-icon>account_box</mat-icon>
                    <span>Mi Perfil</span>
                </button>
                <button mat-menu-item (click)="openChangePassword()">
                    <mat-icon>enhanced_encryption</mat-icon>
                    <span>Cambiar Contraseña</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Cerrar Sesión</span>
                </button>
            </mat-menu>

        </mat-toolbar-row>
    </mat-toolbar>


    <router-outlet></router-outlet>


</div>