<mat-card class="save-producto-card">
    <mat-card-title> Datos producto</mat-card-title>
    <mat-card-content>
        <form id="saveForm" (ngSubmit)="saveProducto(saveForm)" #saveForm="ngForm">


            <mat-form-field class="input-field-producto" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [(ngModel)]="producto.nombre" name="nombre" required
                    [disabled]="role =='view'">
            </mat-form-field>

            <mat-form-field class="input-field-producto" appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="nombreCategoria" name="categoria" [disabled]="role =='view'" required>
                    <mat-option *ngFor="let categoria of selectCategoryList" [value]="categoria">
                        {{categoria}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="input-field-producto" appearance="outline">
                <mat-label>Precio</mat-label>
                <input matInput type="number" [(ngModel)]="producto.precio" name="precio" required
                    [disabled]="role =='view'">
            </mat-form-field>

            <mat-form-field class="input-field-producto" appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="number" [(ngModel)]="producto.stock" name="stock" required
                    [disabled]="role =='view'">
            </mat-form-field>



            <mat-form-field class="input-field-producto" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <textarea matInput type="text" [(ngModel)]="producto.descripcion" name="descripcion" required
                    [disabled]="role =='view'"></textarea>
            </mat-form-field>

        </form>
    </mat-card-content>
    <mat-card-actions class="card-buttons">
        <button mat-stroked-button color="primary" id="btn-save-product" [disabled]="!saveForm.form.valid" form="saveForm">Aceptar</button>
        <button mat-stroked-button color="warn" (click)="cerrarDialog()">Cancelar</button>
    </mat-card-actions>
</mat-card>