<mat-toolbar class="option-toolbar">
    <mat-toolbar-row class="path-mat-toolbar-row">
        <h3 class="path-h3">Administracion de Boletas</h3>
    </mat-toolbar-row>
    <mat-toolbar-row class="actions-mat-toolbar-row">
        <div class="actions-button-row">
            <a id= "btn-registrar-boleta" (click)="saveBoletaView()" mat-stroked-button color="primary">Registrar Boleta</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="lista-productos-card">
    <mat-card class="card-productos">
        <mat-card-title>Lista de Boletas</mat-card-title>
        <mat-card-content>

            <div class="busqueda-container">
            <mat-form-field appearance="outline">
                <mat-label>Buscar por estado</mat-label>
                <mat-select [(ngModel)]="opcionSeleccionada" (selectionChange)="findByEstado($event.value)" name="opcion">
                  <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">
                    {{opcion.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <table id = "tb-boletas" mat-table [dataSource]="dataSource" class="table-productos">

                <ng-container matColumnDef="id">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Codigo de Boleta </th>
                    <td mat-cell style="text-align:center" *matCellDef="let boleta"> {{boleta.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nombreUsuario" >
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let boleta"> {{boleta.usuario?.nombre}} {{boleta.usuario?.apellido}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Fecha </th>
                    <td mat-cell style="text-align:center" *matCellDef="let boleta"> {{boleta.fecha  | date: 'dd/MM/yy'}} </td>
                </ng-container>

                <ng-container matColumnDef="direccion">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Direccion </th>
                    <td mat-cell *matCellDef="let boleta"> {{boleta.direccion}} </td>
                </ng-container>

                
                <ng-container matColumnDef="estado">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Estado </th>
                    <td mat-cell style="text-align:center" *matCellDef="let boleta"> {{boleta.estado}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Total </th>
                    <td mat-cell style="text-align:center" *matCellDef="let boleta"> {{boleta.total | currency:'S/'}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Acciones </th>
                    <td mat-cell style="text-align:center" *matCellDef="let element;let i=index">
                        <button color="primary" mat-button matSuffix mat-icon-button>
                            <mat-icon matTooltip="Ver" (click)="onSelect(element)">visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</mat-card>