<mat-toolbar class="option-toolbar">
    <mat-toolbar-row class="path-mat-toolbar-row">
        <h3 class="path-h3">Administracion de Usuarios</h3>
    </mat-toolbar-row>
    <mat-toolbar-row class="actions-mat-toolbar-row">
        <div class="actions-button-row">
            <a (click)="saveUsuarioView()" mat-stroked-button color="primary">Registrar Usuario</a>

            <button class="menu-button" id="btn-export" mat-stroked-button [matMenuTriggerFor]="exportMenu"
                color="primary">Exportar</button>
            <mat-menu #exportMenu="matMenu">
                <button mat-menu-item color="primary" id="btn-export-excel" (click)="generateExcel()"> Exportar
                    Excel</button>
                <button mat-menu-item color="primary" id="btn-export-pdf" (click)="generatePDF()"> Exportar
                    PDF</button>
            </mat-menu>

            <button class="menu-button" id="btn-import" mat-stroked-button [matMenuTriggerFor]="importMenu"
                color="primary">Importar</button>
            <mat-menu #importMenu="matMenu">
                <input type="file" id="upload-csv" style="display: none" (change)="onArchivoSelected($event)" #archivoInput>
                <button mat-menu-item color="primary" id="btn-import-csv" (click)="archivoInput.click()">
                    CSV
                </button>
                <input type="file" id="upload" style="display: none" (change)="onExcelSelected($event)" #archivoInputExcel>
                <button mat-menu-item color="primary" id="btn-import-excel" (click)="archivoInputExcel.click()">
                    Excel
                </button>
            </mat-menu>

        </div>
        <mat-spinner class="spinner" *ngIf="mostrarProgreso" diameter="70"></mat-spinner>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="lista-usuarios-card">
    <mat-card-title style="padding: 1rem;">Lista de Usuarios</mat-card-title>
    <mat-card class="card-usuarios">
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="table-usuarios">

                <ng-container matColumnDef="id">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Codigo de Cliente. </th>
                    <td mat-cell style="text-align:center" *matCellDef="let usuario"> {{usuario.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Nombres y Apellidos </th>
                    <td mat-cell style="text-align:left" *matCellDef="let usuario"> {{usuario.nombre}}
                        {{usuario.apellido}}</td>
                </ng-container>


                <ng-container matColumnDef="correo">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let usuario"> {{usuario.correo}} </td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Telefono </th>
                    <td mat-cell style="text-align:center" *matCellDef="let usuario"> {{usuario.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="edad">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> edad </th>
                    <td mat-cell style="text-align:center" *matCellDef="let usuario"> {{usuario.edad}} </td>
                </ng-container>

                <ng-container matColumnDef="dni">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> DNI </th>
                    <td mat-cell style="text-align:center" *matCellDef="let usuario"> {{usuario.dni}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell style="text-align:center" *matHeaderCellDef> Acciones </th>
                    <td mat-cell style="text-align:center" *matCellDef="let element;let i=index">
                        <button color="primary" mat-button matSuffix mat-icon-button>
                            <mat-icon matTooltip="Ver" (click)="onSelect(element)">visibility</mat-icon>
                        </button>
                        <button color="accent" mat-button matSuffix mat-icon-button>
                            <mat-icon matTooltip="Eliminar" (click)="eliminar(element)">delete</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</mat-card>