/*toolbar*/

.option-toolbar {
  position: sticky;
  max-width: 1300px;
  margin: auto;
  top: 0;
  margin-bottom: 6px;
  z-index: 1; /* TODO */
}

.path-mat-toolbar-row {
  height: 36px;
}

.actions-mat-toolbar-row {
  height: 48px;
}

.path-h3 {
  color: rgba(0, 0, 0, 0.74);
}

.lista-usuarios-card {
  max-width: 1300px;
  margin: auto;
  padding: 0;
}

.table-usuarios {
  width: 100%;
  min-width: 1000px;
}

.card-usuarios {
  margin-top: 1rem;
  width: 97%;
}

.btn-generar-excel {
  margin-left: 0.5rem;
}

.menu-button {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.spinner {
  margin-left: 20rem;
}
